/*router*/
footer{
    font-size: 12px;
    position: absolute;
    bottom:15px;
}

/*contact*/
.contact-symbol{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 25px;
}
.contact-symbol :hover{
    color:rgb(14, 181, 247)
}

/*home*/
.image-home{
    width: 100%;
    height: 360px;
    opacity: 0.8;
}

.left-arrow{
    position: absolute;
    top:50%;
    left:15px;
    font-size: 30px;
    z-index:1;
    user-select:none;
    cursor: pointer;
}

.right-arrow{
    position: absolute;
    top:50%;
    right:15px;
    font-size: 30px;
    z-index:1;
    user-select:none;
    cursor: pointer;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease-in;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
}

/*exp*/
.language-icon{
    position:absolute;
    left: 25px;
    top:45px;
    display: flex;
    flex-direction: row;
    gap:5px;
}


.language-icon >p{
    padding:5px 8px;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid rgb(128, 122, 122);
}


@media only screen and (max-width: 600px) {
    .image-home{
        height:200px;
    }
  }