@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

.upper-navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    position: fixed;
    top:2px;
    right:25px;
}
.upper-navbar >p:hover{
    color:rgb(14, 181, 247)
}
.line {
    border-bottom: 2px solid rgb(218, 177, 226);
    padding-bottom: 3px;
}

.blog-navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right:5px;
    bottom: 20px;
}

/* text header */
.text{
    font-size: 60px;
    font-family: 'Lexend', sans-serif;
    color: rgb(14, 181, 247);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(28, 61, 71);
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(14, 14, 14); */
}
.textzone{
    display: flex;
    left: 50px;
    top: 10px;
    width:50%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
}
.text:hover{
    animation: rubberBand 1s;
    color:rgb(218, 177, 226)
}

@keyframes rubberBand {
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1,00.75,1);
    }
    45%{
        transform: scale3d(0.75,1,1);
    }
    60%{
        transform: scale3d(1.2,0.8,1);
    }
}
