@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

.upper-navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    position: fixed;
    top:2px;
    right:25px;
}
.upper-navbar >p:hover{
    color:rgb(14, 181, 247)
}
.line {
    border-bottom: 2px solid rgb(218, 177, 226);
    padding-bottom: 3px;
}

.blog-navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right:5px;
    bottom: 20px;
}

/* text header */
.text{
    font-size: 60px;
    font-family: 'Lexend', sans-serif;
    color: rgb(14, 181, 247);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(28, 61, 71);
}
.textzone{
    display: flex;
    left: 50px;
    top: 10px;
    width:50%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
}
.text:hover{
    animation: rubberBand 0.8s;
    color:rgb(218, 177, 226)
}

@keyframes rubberBand {
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1,00.75,1);
    }
    45%{
        transform: scale3d(0.75,1,1);
    }
    60%{
        transform: scale3d(1.2,0.8,1);
    }
}

/* Image renderer */
.image {
    width: 100%;
    height: 100%;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.6);
    transition:opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.open{
    visibility: visible;
    opacity:1;
    transform: scale(1);
}
.model img{
    width:50%;
    height: 50%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding:20px 0;
    margin:0 auto;
}
.model p{
    font-size: 15px;
}

.ext-icon{
    font-size: 25px;
    color: rgb(14, 181, 247);
    text-decoration: none;
}
.ext-icon :hover{
    color: rgb(218, 177, 226)
}

.model-icon{
    position: fixed;
    top:10px;
    right: 10px;
    font-size: 25px;
    padding:5px;
    cursor: pointer;
}

/* Pagination */
.pagenumber-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin: 5px 0px;
}
.pagenumber{
    text-decoration: none;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 15px;
    color:rgb(14, 181, 247);
    background-color:rgb(90, 90, 90);
}
.pagenumber-icon{
    border: 1px solid rgb(90, 90, 90);
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 20px;
    color:rgb(14, 181, 247);
    background-color:rgb(90, 90, 90);
}
.pagenumber-container :hover{
    color:rgb(218, 177, 226)
}

/* text headerhome */
.textheaderhome-container{
    
}

.textheaderhome{
    font-size: 120px;
    font-family: 'Architects Daughter', cursive;
    color: rgb(14, 181, 247);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(28, 61, 71);
}
.textheaderhomezone{
    display: flex;
    left: 50px;
    top: 50px;
    width:50%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
}
.textheaderhomezone2{
    display: flex;
    z-index: 100;
    left:400px;
    top: 110px;
    position: absolute;
    justify-content: center;
    max-width:50%;
    width: auto;
    max-height: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-shadow: 25px 25px rgb(63, 63, 63);
}


.textheaderhome:hover{
    animation: rubberBand 0.8s;
    color:rgb(218, 177, 226)
}

@keyframes rubberBand {
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1,00.75,1);
    }
    45%{
        transform: scale3d(0.75,1,1);
    }
    60%{
        transform: scale3d(1.2,0.8,1);
    }
}


