svg{
    enable-background:new 0 0 356.9 387.18;
    
}
.st0{fill:rgb(43, 43, 43);}
.svg-icon{
    width: 25px;
    height: 25px;
    padding: 0px;
}
@media only screen and (max-width: 650px) {
    .svg-icon{
        width: 20px;
        height: 20px;
    }
}