@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kosugi+Maru&family=New+Tegomin&family=RocknRoll+One&family=Yomogi&display=swap');



svg{
    enable-background:new 0 0 1065 1295;
}
.basetwcolor{
    fill:#7C7C7C;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    cursor: pointer;
}
.select{
    fill:rgb(14, 181, 247);
}

.city-name{
    visibility: hidden;
}

.citynameshow{
    position:absolute;
    visibility: visible;
    left:50px;
    top:1200px;
    font-size: 35px;
    font-family: 'RocknRoll One', sans-serif;
}
.twcity-label{
    font-size: 24px;
    fill:rgb(193, 233, 252);
    font-family: 'Kosugi Maru', sans-serif;
    visibility: visible;
}
.labelhidden{
    visibility: hidden;
}

.blogcard-container{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-gap:20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top:1300px;
    left:15px;
    right: -15px;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .citynameshow{
        top:450px;
        font-size: 20px;
    }
}