svg{
    enable-background:new 0 0 1000 1295;
}
.basetwcolor{
    fill:#7C7C7C;
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    cursor: pointer;
}
.select{
    fill:rgb(14, 181, 247);
}

.city-name{
    visibility: hidden;
}

.citynameshow{
    position: relative;
    visibility: visible;
    width: 50%;
}
